*{
	margin: 0;
	padding: 0;}
body {
	width: 974px;
	margin: 0 auto;	
	background: url(../assets/images/home.jpg) no-repeat center top;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 1px;
}
header, div.container, footer {
	/*background: rgba(68,68,68,1);*/
}
div.social{
	display: inline-block;
	padding: 5px 16px;	
	/*background: white;*/
	position: relative;
	float: left;
	}

button.buttom-header {
	border-radius: 2px;
	float: left;
	width: 38px;
	height: 45px;
	position: relative;
	padding: 0px;
	border: 0px;
	margin-right: 9px;
	
}
button.buttom-header.facebook {
	background: url(../assets/images/facebook_button_noactive.gif) no-repeat center top;
} 
button.buttom-header.twitter {
	background: url(../assets/images/twitter_button_noactive.gif) no-repeat center top;
	}
button.feeds {
	background: url(../assets/images/feeds_button_noactive.gif) no-repeat center top;
	}

div.social p {
	width: 110px;
	margin-left: 4px;
	padding: 11px 13px;
	border-left: 2px solid rgb(241,241,241);
	float: left;
	color: #bababa;
	font-size: 11px;
	}
div.banner {
	width: 481px;
	height: 73px;
	border: 1px solid #06F;
	border-radius: 5px;
	float: right;
	margin: 10px 64px;
	background: white;
	}
div.logo {
	
	margin-top: 16px;
	float: left;
	font-size: 20pt;
	}
div.logo h2 {
	
	margin-left: 28px;
	
}
div.logo h2 span.com{
	color: blue;
}
	
div.miniChat {
	width: 254px;
	position: relative;
	border: 1px solid black;
	border-radius: 10px;
	}
div.miniChat div {
	background:  url(../assets/images/bk1.png), url(../assets/images/bk2.png);
	
